  <div class="user_page">
    <header class="user_page-header">
      <div class="yjContainer">
          <h4><%= current_user.handlename %> <span>さんのマイページ</span></h4>
          <a href="" src="http://booklog.jp/img/noimage/prof_noimage.gif"></a>
      </div>
    </header>

