      <div class="left-container">
        <div class="indextitle-bord">
        <h4>総合点ランキング TOP5</h4><h6 style="font-size: 14px; color: black; margin: 0;">レビュー点・ランキングに基づく</h6>
        </div>
      </div>
      <div class="middle-container">
        <div class="indextitle-bord">
        <h4>月間ランキング TOP5</h4><h6 style="font-size: 14px; color: black; margin: 0;">紀伊国屋書店マンスリーランキングより</h6>
        </div>
        <% @books.each do |book| %>
          <li class="ranks">
          <div class="rankdetail">
          <div class="rankdetailbox">
            <% @books.each do |item| %>
                <h3><%= item.ranking %>位</h3>
                <h5><%= item.bookname%></h5>
                <h6><%= item.author %></h6>
                <h6><%= item.publisher %></h6>
            <% end %>
          </div>
          </div>
          </li>
        <% end %>
        </ul>
      </div>

<!--<i class="fa fa-book" aria-hidden="true"></i>-->
    </main>
  </div>

