      <div class="fullcontainer">
        <h4>検索結果の表示：</h4>
        <div class="result-bord">
        <div class="results">
        <ul class="list">
        <% @books.each do |book| %>
          <li class="results-list">
          <div class="resultdetail">
          <div class="resultdetailbox">
            <h5><%= book.bookname %></h5><h5>著者：<%= book.author %></h5><h6>出版日：<%= book.published_date %></h6>
          </div>
          </div>
          </li>
        <% end %>
        </ul>
        </div>
        </div>        
      </div>

    <!--</main>-->
  <!--</div>-->






aaaaa