
<body>
     <!--  <div class="left-container">
        <div class="title-bord-row">
 --><div class="searchcontainer">
  <% @books.each do |book| %>
    <div class="searchdetail">
    <ul class="searchdetail">
    <a href="/books/<%= book.id %>"></a>
      <li><h6><%= book.bookname %></h6></li><h3 style="color: #81AE64;">　/　</h3>
      <li><h6><%= book.author %></h6></li><h3 style="color: #81AE64;">　/　</h3>
      <li><h6><%= book.publisher %></h6></li>
    </ul>
    </div>
  <% end %>
</div>

    </main>
  </div>
</body>
