
  <div class="full-container">
  <header class="header_info">
    <i class="fa fa-book fa-4x" aria-hidden="true"></i><h4><%= @book.bookname %></h4>
  </header>
  <div class="imagecontainer">
  <p style="text-align: center">
    <a href="https://www.kinokuniya.co.jp"><img src="https://www.kinokuniya.co.jp<%= @book.image %>" alt="<%= @book.bookname %>"></a></p>
  </div>
  </div>

    </main>
  </div>



<!-- <a href="../images/goods/ar2/web/imgdata2/large/40410/4041014514.jpg" target="_blank">
  <img itemprop="image" onerror="alterImage(this, '../images/web/nowprint.gif')" src="../images/goods/ar2/web/imgdata2/40410/4041014514.jpg" alt="角川文庫<br> ナミヤ雑貨店の奇蹟" width="195">
            </a>
 -->
