<!doctype html>
<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">
    <title>BookLogger</title>
    <link rel="stylesheet" href="./style.css">
    <link href=”css/font-awesome.min.css” rel=”stylesheet”>
</head>

<body>
  <div class="full-container">
  <header class="header_info">
    <i class="fa fa-book fa-4x" aria-hidden="true"></i><h4><%= @book.bookname %></h4>
  </header>
  <div class="imagecontainer">
  <p style="text-align: center">
    <a href="https://www.kinokuniya.co.jp"><img src="https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/large/40410/4041014514.jpg" alt="<%= @book.bookname %>" width=30% height=60%></a></p>
  </div>

  </div>

    </main>
  </div>
</body>


<!-- <a href="../images/goods/ar2/web/imgdata2/large/40410/4041014514.jpg" target="_blank">
  <img itemprop="image" onerror="alterImage(this, '../images/web/nowprint.gif')" src="../images/goods/ar2/web/imgdata2/40410/4041014514.jpg" alt="角川文庫<br> ナミヤ雑貨店の奇蹟" width="195">
            </a>
 -->
